body{
    background-color: #566371;
}


.login{
    margin-top:200px;
    background-color: #F6C72E;
    padding-top:20px;
    padding-bottom:50px;
    border-radius:20px;
}

h1{
    color: #FFFFFf;
}

hr{
    height: 6px;
    border: 1px solid #43C0CB;
    border-radius: 7px;
    background-color: #43C0CB;
}

.form-control{
    background-color: #FAE396;
    height:50px;
    border:none;
}

.input-group-addon{
    background-color:#F3921F;
    border:none;
}
